
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins' , sans-serif ;

}

body {
    color: #ededed;
}

/*Header Section Code*/
.header {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /*position eka fixed nisa anith ewata wehila yana nisa*/
}

.logo {
    position: relative;
    font-size: 30px;
    color: #00eeff;
    text-decoration: none;
    font-weight: 600;
}

.logo:hover{
    transform: scale(1.15);
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .2s;

}

.navbar a:hover{
    color:#00eeff;
}


/*Header Section Code*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100; /*position eka fixed nisa anith ewata wehila yana nisa*/
}

.logo {
    position: relative;
    font-size: 25px;
    color: #0ef;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s ease;

}

.logo:hover{
    transform: scale(1.15);
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .2s;

}

.navbar a:hover{
    color:#00eeff;
}
/*Home Section Code*/
.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: #002030;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
    padding-top: 130px;

}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}

.home-content p {
    font-size: 20px;
}

.home-social {
    display: flex;
}

.home-social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00eeff;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: 0.3s ease;
}

.home-social a:hover {
    transform: scale(1.2) translateY(-10px);
    background: #0ef;
    color: #002030;
    box-shadow: 0 0 5px #00eeff;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: #00eeff;
    border-radius: 40px;
    font-size: 16px;
    color: #002030;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s ease;
}

.btn:hover {
    box-shadow: 0 0 1.6rem #00eeff;
    /*box-shadow: 0 0 5px cyan,*/
    /*0 0 25px cyan, 0 0 50px cyan,*/
    /*0 0 100px cyan, 0 0 200px cyan*/
}

.home-img img{
    width: 25vw;
    border-radius: 50%;
    box-shadow: 0 0 10px #00eeff;
    transition: 0.4s ease;
}


